<div class="euiFlexItem homHome__synopsisItem">
  <a
    class="euiCard euiCard--centerAligned euiCard--horizontal euiCard--isClickable euiCard--hasIcon homSynopsis__card homSynopsis__card--noPanel"
    ng-click="callSwitchTab()"
    ><span class="euiCard__top"
      >
      <react-component ng-if="icon" name="EuiIcon" props="{type:'{{icon}}', size:'xl', className:'euiIcon--app euiCard__icon'}" />
      <img ng-if="!icon"
        class="euiIcon euiIcon--xLarge euiIcon--app euiCard__icon"
        kbn-src="/plugins/wazuh/img/{{ logo || wzLogo }}"/></span
    ><span class="euiCard__content"
      ><span class="euiTitle euiTitle--medium euiCard__title font-size-18">{{
        cardTitle
      }}</span>
      <div class="euiText euiText--small euiCard__description font-size-14">
        <p>{{ description }}</p>
      </div></span
    ></a
  >
</div>
