<div flex="auto" layout="column" ng-if="configurationTab === 'welcome' && mctrl.editionTab !== 'editconfiguration'"
    ng-class="agent && agent.id !== '000'?'wz-margin-top-8':''">
    <!-- Headline -->
    <div layout="column" layout-padding ng-show="agent && agent.id !== '000'">
        <div>
            <span class="font-size-18"> <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configuration</span>
            <span ng-if="isSynchronized" class="wz-agent-status-indicator small teal">SYNCHRONIZED</span>
            <span ng-if="!isSynchronized" class="wz-agent-status-indicator small red">NOT SYNCHRONIZED</span>
        </div>
    </div>

    <!-- End headline -->
    <div flex layout="row">
        <div flex layout="column" class="md-padding">
                <div class="euiCard euiCard--leftAligned" ng-if="mctrl.adminMode || adminMode" ng-show="!agent || agent.id === '000'">
                    <span class="euiCard__top wz-card-actions-top">
                        <a ng-click="mctrl.setConfigTab('editconfiguration', true)">
                            <react-component name="EuiIcon" props="{type:'pencil', color:'primary'}" /> Edit configuration
                        </a>
                    </span>
                <span class="euiCard__content">
                    <h2 class="euiTitle euiTitle--small md-padding-top-20">Main configurations</h2>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="euiTable euiTable--responsive table-striped" ng-if="!agent || agent.id === '000'">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('global-configuration', [{component:'analysis',configuration:'global'},{component:'mail',configuration:'global'},{component:'request',configuration:'remote'},{component:'com',configuration:'logging'}])">
                                <td class="euiTableRowCell">Global configuration</td>
                                <td class="euiTableRowCell">Global and remote settings</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('cluster', [{component:'com',configuration:'cluster'}])">
                                <td class="euiTableRowCell">Cluster</td>
                                <td class="euiTableRowCell">Master node configuration</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('registration-service', [{component:'auth',configuration:'auth'}])">
                                <td class="euiTableRowCell">Registration service</td>
                                <td class="euiTableRowCell">Automatic agent registration service</td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="agent && agent.id !== '000'" class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('global-configuration', [{component:'com',configuration:'logging'}])">
                                <td class="euiTableRowCell">Global configuration</td>
                                <td class="euiTableRowCell">Logging settings that apply to the agent</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('client', [{component:'agent',configuration:'client'}])">
                                <td class="euiTableRowCell">Communication</td>
                                <td class="euiTableRowCell">Settings related to the connection with the manager</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('client-buffer', [{component:'agent',configuration:'buffer'}])">
                                <td class="euiTableRowCell">Anti-flooding settings</td>
                                <td class="euiTableRowCell">Agent bucket parameters to avoid event flooding</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('alerts',[{component:'agent',configuration:'labels'}])">
                                <td class="euiTableRowCell">Labels</td>
                                <td class="euiTableRowCell">User-defined information about the agent included in alerts</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 ng-if="!agent || agent.id === '000'" class="euiTitle euiTitle--small md-padding-top-20">Alerts and output management</h2>
                    <md-divider ng-if="!agent || agent.id === '000'" class="wz-margin-top-10"></md-divider>
                    <table ng-if="!agent || agent.id === '000'" class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('alerts',[{component:'analysis',configuration:'alerts'},{component:'analysis',configuration:'labels'},{component:'mail',configuration:'alerts'},{component:'monitor',configuration:'reports'}, {component:'csyslog',configuration:'csyslog'}])">
                                <td class="euiTableRowCell">Alerts</td>
                                <td class="euiTableRowCell">Settings related to the alerts and their format</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('integrations',[{component:'integrator',configuration:'integration'}])">
                                <td class="euiTableRowCell">Integrations</td>
                                <td class="euiTableRowCell">Slack, VirusTotal and PagerDuty integrations with external APIs</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="euiTitle euiTitle--small md-padding-top-20">Auditing and policy monitoring</h2>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('policy-monitoring', [{component:'syscheck',configuration:'rootcheck'}, {component:'wmodules',configuration:'wmodules'}])">
                                <td class="euiTableRowCell">Policy monitoring</td>
                                <td class="euiTableRowCell">Configuration to ensure compliance with security policies, standards and hardening
                                    guides</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('open-scap')">
                                <td class="euiTableRowCell">OpenSCAP</td>
                                <td class="euiTableRowCell">Configuration assessment and automation of compliance monitoring using SCAP checks
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('cis-cat')">
                                <td class="euiTableRowCell">CIS-CAT</td>
                                <td class="euiTableRowCell">Configuration assessment using CIS scanner and SCAP checks
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="euiTitle euiTitle--small md-padding-top-20">System threats and incident response</h2>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-if="!agent || agent.id === '000'"
                                ng-click="switchWodle('vulnerability-detector')">
                                <td class="euiTableRowCell">Vulnerabilities</td>
                                <td class="euiTableRowCell">Discover what applications are affected by well-known vulnerabilities</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('osquery')">
                                <td class="euiTableRowCell">Osquery</td>
                                <td class="euiTableRowCell">Expose an operating system as a high-performance relational database
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('syscollector')">
                                <td class="euiTableRowCell">Inventory data</td>
                                <td class="euiTableRowCell">Gather relevant information about system OS, hardware, networking and packages
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-if="!agent || agent.id === '000'"
                                ng-click="switchConfigTab('active-response',[{component:'analysis',configuration:'command'},{component:'analysis',configuration:'active_response'}])">
                                <td class="euiTableRowCell">Active response</td>
                                <td class="euiTableRowCell">Active threat addressing by inmmediate response
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-if="agent && agent.id !== '000'"
                                ng-click="switchConfigTab('active-response',[{component:'com',configuration:'active-response'}])">
                                <td class="euiTableRowCell">Active response</td>
                                <td class="euiTableRowCell">Active threat addressing by inmmediate response
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('command')">
                                <td class="euiTableRowCell">Commands</td>
                                <td class="euiTableRowCell">Configuration options of the Command wodle
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('docker-listener')">
                                <td class="euiTableRowCell">Docker listener</td>
                                <td class="euiTableRowCell">Monitor and collect the activity from Docker containers such as creation, running,
                                    starting, stopping or pausing events
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="euiTitle euiTitle--small md-padding-top-20">Log data analysis</h2>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('log-collection',[{component:'logcollector',configuration:'localfile'},{component:'logcollector',configuration:'socket'}])">
                                <td class="euiTableRowCell">Log collection</td>
                                <td class="euiTableRowCell">Log analysis from text files, Windows events or syslog outputs</td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable"
                                ng-click="switchConfigTab('integrity-monitoring',[{component:'syscheck',configuration:'syscheck'}])">
                                <td class="euiTableRowCell">Integrity monitoring</td>
                                <td class="euiTableRowCell">Identify changes in content, permissions, ownership, and attributes of files
                                </td>
                            </tr>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-if="!agent || agent.id === '000'"
                                ng-click="switchConfigTab('agentless',[{component:'agentless',configuration:'agentless'}])">
                                <td class="euiTableRowCell">Agentless</td>
                                <td class="euiTableRowCell">Run integrity checks on devices such as routers, firewalls and switches
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 ng-if="!agent || agent.id === '000'" class="euiTitle euiTitle--small md-padding-top-20">Cloud security
                        monitoring</h2>
                    <md-divider ng-if="!agent || agent.id === '000'" class="wz-margin-top-10"></md-divider>
                    <table ng-if="!agent || agent.id === '000'" class="euiTable euiTable--responsive table-striped">
                        <thead class="euiTableRow wz-text-bold">
                            <th class="euiTableHeaderCell col-md-2 padding-left-0">Name</th>
                            <th class="euiTableHeaderCell">Description</th>
                        </thead>
                        <tbody>
                            <tr class="euiTableRow customRowClass euiTableRow-isClickable" ng-click="switchWodle('aws-s3')">
                                <td class="euiTableRowCell">Amazon S3</td>
                                <td class="euiTableRowCell">Security events related to Amazon AWS services, collected directly via AWS API</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>
        </div>

        <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
            <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
                <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
            </span>
            <md-list ng-if="showHelp">
                <md-subheader>More info about this section</md-subheader>
                <md-list-item target="_blank" class="wz-text-link"
                    ng-href="https://documentation.wazuh.com/current/user-manual/manager/index.html">Wazuh
                    administration documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link"
                    ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/index.html">Wazuh
                    capabilities documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link"
                    ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html">Local
                    configuration reference</md-list-item>
            </md-list>
        </md-sidenav>
    </div>
</div>