body.md-default-theme,
body,
html.md-default-theme,
html {
  color: #dfe5ef !important;
}

.euiHeaderSectionItem__button,
.euiListGroupItem__icon {
  color: #dfe5ef;
}

.euiToolTipAnchor {
  color: white;
}

.app-wrapper-panel {
  background-color: #1a1b20;
}

md-content.md-default-theme,
md-content {
  background-color: #1a1b20;
  color: #c8dad9;
}

.wz-metric-color {
  background-color: #343741 !important;
  border: 1px solid #131417;
  color: white;
}

.euiBreadcrumbs--truncate
  .euiBreadcrumb:not(.euiBreadcrumb--collapsed).euiBreadcrumb--last,
.euiNavDrawerGroup__item .euiListGroupItem__label,
.euiNavDrawer .euiNavDrawer__expandButton .euiListGroupItem__button {
  color: #dfe5ef;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Inter UI';
}

.wz-menu-content {
  background-color: #002835;
}

.wz-menu-button.wz-menu-active {
  background-color: #1a1b20 !important;
}

.wz-menu-button:not([disabled]):hover {
  background-color: #013343;
}

.wzXmlEditor {
  background: #1d1e24;
  border: 1px solid #343741;
  color: #c8dad9;
}

.CodeMirror {
  border-top: 1px solid #5c606f;
}

.wz-select-input {
  border: none !important;
}

.euiCard__top.wz-card-actions-top {
  background: #272931;
}

.table {
  color: #dfe5ef !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #1a1b21;
  color: #dfe5ef !important;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(27, 169, 245, 0.05) !important;
}

#wz-search-filter-bar {
  background: #16171c;
  color: #dfe5ef;
}

#wz-search-filter-bar-input{
  box-shadow: none;
}

.kuiLocalSearchInput, .kuiLocalSearchInput:focus {
  border: 1px solid #343741 !important;
}

.btn-info {
  border: 1px solid #343741 !important;
}

.table-resizable > thead th:not(:first-child) {
  border-left: 1px dashed #343741;
}